<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section style="background-color: black; height: 100%;">
    <div style="padding: 25%;">
        <div class="display-flex">
            <h2 style="color: white;">Subscribe to our job seeker mailing list</h2>
        </div>
        <div style="width: 300px; height: 50px; border: 2px solid rgb(0, 174, 255); margin-left: 30%;">
            <p style="color: white; margin-top: 10px; margin-left: 30px;"><i>Enter your email address</i>
                <span><i style="font-size:24px; padding-left: 60px;" class="fa">&#xf003;</i></span>
            </p>
        </div>
    </div>
</section>
