.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 8px;
  }
  
.form-div{
    display: flex; gap: 10px;
}
.btn-color{
    background-color: rgb(0, 174, 255);
}
.text-white{
    color: white;
}
.photo-size{
    width: 310px;
    height: 325px;
    border: 1px solid black;
}
mat-slider {
  width: 485px;
}

.example-chip-list {
  width: 100%;
}
.img-size{
  width: 310px;
  height: 325px;
}

