<header>
    <mat-toolbar>
        <div>
            <h1>Demo App</h1>
        </div>
        <div style="margin-left: 45%;">
            
                <a href="" class="no-underline">HOME</a>
            
                <a href="" class="div-space no-underline">ABOUT US</a>
    
                <a href="" class="div-space no-underline">JOBS</a>
                    
                <a href="" class="div-space no-underline">CLIENTS</a>
        
                <a href="" class="div-space no-underline">EMPLOYEES</a>
            
                <a href="" class="div-space no-underline">CONTACT US</a>
            
        </div>
    </mat-toolbar>
</header>
